:root {
    background-color: rgb(48, 48, 48);
    color: white;
    display: flex;
    place-items: center;
    position: relative;
}

body {
    margin: auto;
    /* display: flex; */
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    text-align: center;
    /* font-family: courier; */
}

.piece {
    user-select: none;
}

.coordinate {
    fill: white;
    stroke: white;
    font: 25px monospace;
    pointer-events: none;
}

.selection {
    fill: yellow !important;
    stroke: black;
}

.possible {
    fill: orange !important;
    stroke: black;
}

.attack {
    fill: red !important;
    stroke: black;
}