:root {
    background-color: rgb(48, 48, 48);
    color: white;
    overflow: hidden; /* Hide scrollbars */
}

body {
    text-align: center;
}

select {
    font-size: 25px;
    margin:10px;
    margin-bottom: 20px;
}

button {
    font-size: 25px;
    margin:10px;
    margin-bottom: 20px;
}

.ui {
    position:relative;
    z-index: 9999;
}

.piece {
    pointer-events: none;
    user-select: none;
}

.coordinate {
    fill: white;
    stroke: white;
    font-family: monospace;
    pointer-events: none;
    user-select: none;
}

.hexagon {
    user-select: none;
}